@font-face {
  font-family: 'Drugs';
  src: url('../../assets/Font/tt_drugs/TT\ Drugs\ Trial\ Condensed\ Regular.otf') format("opentype");
}
@font-face {
  font-family: 'SundayApril';
  src: url('../../assets/Font/sunday_april/Sunday April.ttf');
}

.container {

  background-color: #c4c1b8;
  display: flex;
  margin-top: 4.3em;
  align-items: center;
  flex-direction: column;
}

.instructions {
  font-family: 'Drugs';
  width: 90vw;
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Drugs';
  color: #5c6244;

}

.instructions > h1 {
  padding-top: 0.5em;
  font-family: 'SundayApril';
  text-decoration: underline;
  color: #5c6244;
  font-size: 2em;

}

//GOOGLE MAP
.map {
  margin-top: 2vh;
  margin-left: 3vw;

  border: 1px solid black;
  height: 450px; /* The height is 400 pixels */
  width: 600px; /* The width is the width of the web page */
}
