 <div class="container">
  <!-- <div class="image"><img src="../../assets/static_images/no_date.png"></div> -->
  <div class="image"><img src="../../assets/static_images/home1.png"></div>
  <div class="midtext">
    <div>
      <a routerLink="/Itinerary">
      <h1>Wedding</h1>
      <span class="maintext">Stanleys Olde Maple<br/> Lane Farm <br/>Sept 2nd 2023, <br/>330PM</span>
    </a>
    </div>
    <div>
      <a routerLink="/contact-us">
      <h1>Accomadations</h1>
      <span class="maintext">Book downtown at <br/>ReStays Hotel. <br/>15% off code : FillW.</span>
      <span class="subtext">Or <br/>book an Airbnb/hotel <br/>of your choosing</span>
      </a>
    </div>
    <div>
      <a routerLink="/directions">
      <h1>Transportation</h1>
      <span class="maintext">Bus available from ReStays Hotel, <br/>downtown Ottawa.</span>
      <span class="subtext">Or<br/>Drive to the venue. <br/>See directions page for details</span>
    </a>
    </div>
  </div>
  <span class="additional"><a routerLink="/Itinerary">See the itinerary page for day of details</a></span>
  <div class="image"><img src="../../assets/static_images/pouring.jpg"></div>
 </div>
