
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-toolbar class="icon-bar">
  <a routerLink="/home" [routerLinkActive]="['active']"><i class="fa fa-home"></i> Home</a>
  <a routerLink="/RSVP" [routerLinkActive]="['active']"><i class="fa fa-reply"></i> RSVP</a>
  <a routerLink="/mealChoices" [routerLinkActive]="['active']"><i class="fa fa-cutlery"></i> Meal Selection</a>

  <!-- <a routerLink="/Login" [routerLinkActive]="['active']"><i class="fa fa-globe"> Login</i></a> -->
  <a routerLink="/contact-us" [routerLinkActive]="['active']"><i class="fa fa-envelope"></i> FAQs / Contact Us</a>
  <a routerLink="/Itinerary" [routerLinkActive]="['active']"><i class="fa fa-calendar"></i> Itinerary</a>
  <a routerLink="/directions" [routerLinkActive]="['active']"><i class="fa fa-globe"></i> Directions</a>
  <!-- <a routerLink="/test" [routerLinkActive]="['active']"><i class="fa fa-search">Test Component</i></a> -->
</mat-toolbar>



