
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-toolbar class="icon-bar">
  <a routerLink="/home" [routerLinkActive]="['active']"><i class="fa fa-home">Home</i></a>
  <a routerLink="/RSVP" [routerLinkActive]="['active']"><i class="fa fa-reply"> RSVP</i></a>
  <a routerLink="/mealChoices" [routerLinkActive]="['active']"><i class="fa fa-cutlery"> Meal Selection</i></a>

  <!-- <a routerLink="/Login" [routerLinkActive]="['active']"><i class="fa fa-globe"> Login</i></a> -->
  <a routerLink="/contact-us" [routerLinkActive]="['active']"><i class="fa fa-envelope"> FAQs / Contact Us</i></a>
  <a routerLink="/Itinerary" [routerLinkActive]="['active']"><i class="fa fa-calendar"> Sept 2nd Itinerary</i></a>
  <a routerLink="/directions" [routerLinkActive]="['active']"><i class="fa fa-globe"> Directions</i></a>
  <!-- <a routerLink="/test" [routerLinkActive]="['active']"><i class="fa fa-search">Test Component</i></a> -->
</mat-toolbar>



