
.itineraryContainer{
  margin-top: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#itinerary {
  height: 90vh;
}

body {
  background-image: url('../../assets/static_images/paperBG.jpg');

}
