<div class = "itineraryContainer">
  <img *ngIf="!mobileView" id= "itinerary" src="../../assets/static_images/itinerary.png" alt="">

  <div *ngIf="mobileView" >
    <h1>Welcome itinerary</h1>
    <h2>Sept 2nd, 2023</h2>
    <br/>
    <span>14:30 - Shuttle to venue, from reStays Hotel.</span><br/>
    <span>15:30 - 16:00 | Ceremony</span><br/>
    <span>16:00 - 17:30 | Cocktail Hour & Photos</span><br/>
    <span>18:00 - 20:00 | Dinner</span><br/>
    <span>20:00 - End   | Party</span><br/>
    <span>23:00 - Early shuttle back to reStays Hotel</span><br/>
    <span>00:30 - Last shuttle back to reStays Hotel</span><br/>
    <br/>
    <h2>Country Cocktail Attire</h2>
    <h3>Semi-Formal, with Shimmer & Sparkle</h3>
    <br />
  </div>
</div>
