

<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc7dT7q-QsrTXV6RQz-kjCD1D4tItXNGzcToajQeb72S-pt1g/formResponse" method="post">

  <div class="">
    <label>Main Contact Name</label>
    <input type="text" name="entry.644801123" required placeholder="Enter Main Contact Name" />
  </div>

  <div class="">
    <label>Main Contact Meal Choice</label>
    <div class="radio">
      <input type="radio" id="beef" name="entry.408601343" value="Boneless Braised Beef Rib"/>
      <label for="beef" >Boneless Braised Beef Rib</label><br />

      <input type="radio" id="chicken" name="entry.408601343" value="Rosemary Chicken w/ Wild Mushroom + White Wine Cream Sauce"/>
      <label for="chicken" >Rosemary Chicken w/ Wild Mushroom + White Wine Cream Sauce</label><br />

      <input type="radio" id="veggie" name="entry.408601343" value="Grilled Cauliflower Steak"/>
      <label for="veggie" >Grilled Cauliflower Steak</label><br />
    </div>
  </div>

  <div class="">
    <label>Guest Name (optional)</label>
    <input type="text" name="entry.1455568848" placeholder="Enter Guest Name" />
  </div>

  <div class="">
    <label>Guest Meal Choice (optional)</label>
    <div class="radio">
      <input type="radio" id="beef" name="entry.659790131" value="Boneless Braised Beef Rib"/>
      <label for="beef" >Boneless Braised Beef Rib</label><br />

      <input type="radio" id="chicken" name="entry.659790131" value="Rosemary Chicken w/ Wild Mushroom + White Wine Cream Sauce"/>
      <label for="chicken" >Rosemary Chicken w/ Wild Mushroom + White Wine Cream Sauce</label><br />

      <input type="radio" id="veggie" name="entry.659790131" value="Grilled Cauliflower Steak"/>
      <label for="veggie" >Grilled Cauliflower Steak</label><br />
    </div>
  </div>

  <button type="submit">Submit meal choices</button>

</form>
