
<div class="container">
  <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc7dT7q-QsrTXV6RQz-kjCD1D4tItXNGzcToajQeb72S-pt1g/formResponse" method="post">
    <h1>Meal Selection</h1>
    <div>
      Blurb Here about food
    </div>

    <div class="form-element">
      <span class='question'>Main Contact Name</span>
      <input type="text" name="entry.644801123"  placeholder="Enter Main Contact Name" required/>
    </div>

    <div class="form-element radio-buttons">
      <span class='question'>Main Contact Meal Choice</span>
        <label for="beef" >
          <input type="radio" id="beef" name="entry.408601343" value="Boneless Braised Beef Rib" required/>
          <span>Boneless Braised Beef Rib"</span>
        </label>

        <label for="chicken" >
          <input type="radio" id="chicken" name="entry.408601343" value="Rosemary Chicken w/ Wild Mushroom + White Wine Cream Sauce" required/>
          <span>Rosemary Chicken w/ Wild Mushroom + White Wine Cream Sauce</span>
        </label>

        <label for="veggie" >
          <input type="radio" id="veggie" name="entry.408601343" value="Grilled Cauliflower Steak" required/>
          <span>Grilled Cauliflower Steak</span>
        </label>
    </div>

    <div class="form-element">
      <span class='question'>Guest Name (optional)</span>
      <input type="text" name="entry.1455568848" placeholder="Enter Guest Name" />
    </div>

    <div class="form-element radio-buttons">
      <span class='question'>Guest Meal Choice (optional)</span>
        <label for="beef" >
          <input type="radio" id="beef" name="entry.659790131" value="Boneless Braised Beef Rib"/>
          <span>Boneless Braised Beef Rib"</span>
        </label>

        <label for="chicken" >
          <input type="radio" id="chicken" name="entry.659790131" value="Rosemary Chicken w/ Wild Mushroom + White Wine Cream Sauce"/>
          <span>Rosemary Chicken w/ Wild Mushroom + White Wine Cream Sauce</span>
        </label>

        <label for="veggie" >
          <input type="radio" id="veggie" name="entry.659790131" value="Grilled Cauliflower Steak"/>
          <span>Grilled Cauliflower Steak</span>
        </label>
    </div>
      <button class='submit-button' type="submit">Submit meal choices</button>
  </form>
</div>
