
body,html{
  height: 100%;
  margin: 0;
  padding: 0;
}
//Menu Bar stuff

.icon-bar{
  height: 3em;
}
/* set background image to take up entire background of page, height 100vh minus the top menu bar size, set image per specific page scss*/
.background {
  background-attachment:fixed;
  height: calc(100vh - 4.3em);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
