<div class = 'container image background'>
  <!-- <div class='textbox'> -->
     <!-- <h1 class="title">RSVP Form</h1> -->
      <!-- <form [formGroup]="this.firestore.rsvpForm">
        <Span>Main contact name</Span>
        <input placeholder="Main contact name"
        formControlName="contactName"
        type="text">
        <span>Email</span>
        <input placeholder="Email"
          formControlName="email"
          type="text">
        <span>Confirm Attendance</span>
        <input
        formControlName="accepted"
        type="checkbox">
        <span>Number of guests</span>
        <span>Please note, we ask that guests find a sitter for their children where possible. If you are coming from out of town please contact us at kd.together@outlook.com and we can make accomadations to have your children join us. </span>
        <input
          placeholder="Number of guests"
          formControlName="accepted"
          type="number" min="0" max="1" step="1">
      </form> -->
    <!-- </div> -->
  <div class = googleRSVP>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScSaKs2GdGswNnptuotDrDsWHZkSV3ua-Rxe15dZMzPJ5FmDg/viewform?embedded=true" width="640"  frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</div>
